In [2]:
import graphviz
import pandas as pd
import sys

In [7]:
sys.path.append('src')
from tree import DecisionTree  # this is a custom library lol

In [10]:
df = pd.read_csv("data/tiger_data.csv")
df.head()

   weight  height  tail_length  body_length sex  age
0     220      90          100          180   M    5
1     180      85           95          170   F    4
2     250     100          105          200   M    6
3     190      88           98          175   F    4
4     300     110          120          210   M    7

In [11]:
df["sex"] = df['sex'].map({'M': 0, 'F': 1})  # 0 means male tigers and 1 means female

In [12]:
df.head()

   weight  height  tail_length  body_length  sex  age
0     220      90          100          180    0    5
1     180      85           95          170    1    4
2     250     100          105          200    0    6
3     190      88           98          175    1    4
4     300     110          120          210    0    7

In [15]:
X = df.drop(columns="age").values
y = df["age"].values
y

array([5, 4, 6, 4, 7, 3, 6, 5, 5, 3])

In [19]:
tree = DecisionTree(max_depth=3)
tree.fit(X,y)

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed